.subdued {
	font-size: 70%;
	opacity: 0.5;
}
.subdued.credits {
	position: fixed;
	bottom: 0;
}
.subdued.credits.centered {
	width: 100%;
	left: 50%;
	margin-left: -50%;
}
.lead {
	font-size: 120%;
}
.abs-fullwidth {
	position: absolute;
	width: 100%;
	margin-left: -50%;
	left: 50%;
}
.unstyled-list,
.unstyled-list li {
	padding: 0;
	margin: 0;
	list-style: none;
}
input,
textarea {
	border-radius: 4px;
	padding: 4px;
}

/* Buttons */

.btn-basic {
	border:none;
	padding: 4px 8px;
	display: inline-block;
	border-radius: 4px;
	text-decoration: none;
}
.btn-basic:hover {
	cursor: pointer;
}
.btn-basic.btn-plain {
	border-bottom: 2px solid #444;
	background-color: #444;
	color: white;
}
.btn-basic.btn-plain:hover {
	background-color: #000;
	color: white;
}
.btn.btn-basic:active {
	position: relative;
	top: 1px;
}
.btn.btn-basic.toggle {
	-webkit-transition: all .1s ease-in-out;
	-moz-transition: all .1s ease-in-out;
	-ms-transition: all .1s ease-in-out;
	-o-transition: all .1s ease-in-out;
	transition: all .1s ease-in-out;
	position: relative;
	top: 0;
	background-color: #999;
	border-bottom: 8px solid #444;
}
.btn.btn-basic.toggle:hover {
	top: 4px;
	border-bottom-width: 4px;
}
.btn.btn-basic.toggle:active {
	top: 6px;
	box-shadow: inset 0 0 2px white;
	border-bottom-width: 2px;
}

#global-loader {
	background-color: #444;
	color: #fff;
	font-family: 'Lato', Helvetica, sans-serif;
	text-align: center;
	width: 100%;
	font-size: 20px;
	height: 100%;
	min-height: 100vh;
	z-index: 99999;
	padding: 100px;
	position: fixed;
	top: 0;
	left: 0;
}

/* CSS3 Animations */

@-webkit-keyframes rotate {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(180deg);
		transform: rotate(180deg);
	}
}
@keyframes rotate {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(90deg);
		transform: rotate(90deg);
	}
}

/* Vendor stuff */

.dg.ac * {
	/* fix issue with dat.gui colorpicker */
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
}
.slabtexted .slabtext {
	display:-moz-inline-box;
	white-space:nowrap
}
.slabtextinactive .slabtext {
	display:inline;
	white-space:normal;
	font-size:1em !important;
	letter-spacing:inherit !important;
	word-spacing:inherit !important;
	*letter-spacing:0 !important;
	*word-spacing:0 !important;
}
.slabtextdone .slabtext {
	display:block;
	line-height:0.9;
}
.slabtextdone > span {
	margin:10px 0;
	padding:5px;
}

/* Media Queries */

@media handheld, screen and (max-width: 400px) {
	.subdued.credits,
	.subdued.credits.centered {
		position: static;
		margin: 0;
	}
}
