.subdued {
	font-size: 70%;
	opacity: 0.5;
}
.lead {
	font-size: 120%;
}
.abs-fullwidth {
	position: absolute;
	width: 100%;
	margin-left: -50%;
	left: 50%;
}
.unstyled-list,
.unstyled-list li {
	padding: 0;
	margin: 0;
	list-style: none;
}
input,
textarea {
	border-radius: 4px;
	padding: 4px;
}
.btn-basic {
	border:none;
	padding: 4px 8px;
	display: inline-block;
	border-radius: 4px;
}
.btn-basic:hover {
	cursor: pointer;
}
.btn-basic.btn-plain {
	border-bottom: 2px solid #444;
	background-color: #444;
	color: white;
}
.btn-basic.btn-plain:hover {
	background-color: #000;
	color: white;
}
#global-loader {
	background-color: #444;
	color: #fff;
	font-family: 'Lato', Helvetica, sans-serif;
	text-align: center;
	width: 100%;
	font-size: 20px;
	height: 100%;
	min-height: 100vh;
	z-index: 99999;
	padding: 100px;
	position: fixed;
	top: 0;
	left: 0;
}
.dg.ac * {
	/* fix issue with dat.gui colorpicker */
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
}
