@mixin btn($bg, $text:#000) {
	background-color: $bg;
	color: $text;
	border-bottom-color: darken($bg, 20%);
	&:hover {
		color: lighten($text, 10%);
		background-color: lighten($bg, 5%);
		border-bottom-color: darken($bg, 25%);
	}
}

.btn-basic,
.btn {
	padding: 4px 8px;
	display: inline-block;
	border-radius: 4px;
	text-decoration: none;
	&:hover {
		cursor: pointer;
	}
	&.btn-plain {
		border-bottom: 3px solid #222;
		background-color: #444;
		color: white;
		&:active {
			position: relative;
			top: 1px;
		}
	}
	&.btn-plain:hover {
		background-color: #555;
		color: white;
	}
	&.toggle {
		-webkit-transition: all .1s ease-in-out;
		-moz-transition: all .1s ease-in-out;
		-ms-transition: all .1s ease-in-out;
		-o-transition: all .1s ease-in-out;
		transition: all .1s ease-in-out;
		position: relative;
		top: 0;
		background-color: #999;
		border-bottom: 8px solid #444;
	}
	&.toggle:hover {
		top: 4px;
		border-bottom-width: 4px;
	}
	&.toggle:active {
		top: 6px;
		box-shadow: inset 0 0 2px white;
		border-bottom-width: 2px;
	}
	&.btn-primary {
		$primary-bg: #ffab2d;
		@include btn($primary-bg);
	}
}
