$default-width: 50%;
$bg: #201e23;
$highlight: darken(invert($bg), 10%);

.mobile-menu-toggle {
	position: absolute;
	left: -9999px;
	top: -9999px;
	&:hover {
		background-color: $highlight;
	}
}
.mobile-toggleable-menu {
	background-color: $bg;
	color: #fff;
	opacity: 0.98;
	display: block;
	width: 100%;
	padding: 0;
	a, .btn {
		-webkit-transition: all 0.2s;
		-moz-transition: all 0.2s;
		-ms-transition: all 0.2s;
		-o-transition: all 0.2s;
		transition: all 0.2s;
	}
	li {
		display: inline-block;
		padding: 0;
		margin: 0;
	}
	li a {
		height: 100%;
		width: 100%;
		padding: 2px 4px;
		display: inline-block;
		border-bottom: 1px solid lighten($bg, 4%);
		text-decoration: none;
		color: $highlight;
		border-radius: 4px;
	}
	li a:hover {
		text-indent: 20px;
		background-color: darken($bg, 8%);
		color: lighten($highlight, 6%);
	}
	li a:active {
		position: relative;
		top: 1px;
		color: $bg;
		background-color: darken($bg, 10%);
	}
	li a.active {
		background-color: $highlight;
		text-shadow: 0 1px 2px white;
		color: $bg;
	}
	li a.active:hover {
		background-color: darken($highlight, 20%);
	}
}
.mobmenu-toggle,
.mobile-menu-toggle-button,
.mobile-toggleable-menu {
	top: 0;
	position: fixed;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}
.mobmenu-toggle {
	background-color: darken($highlight, 5%);
	color: $bg;
	font-size: 30px;
	padding: 8px;
	text-decoration: none;
	text-align: center;
	font-weight: bold;
	display: none;
	left: 0;
	margin: 0;
	width: 50px !important;
	display: inline-block;
	z-index: 999;
	&:hover {
		background-color: lighten($highlight, 5%);
		cursor: pointer;
	}
	&.toggle-right {
		right: 0;
		left: auto;
	}
	&.toggle-left {
		left: 0;
		right: auto;
	}
	&.toggle-bottom {
		bottom: 0;
		top: auto;
	}
	&.toggle-top {
		bottom: auto;
		top: 0;
	}
}
.mobile-toggleable-menu {
	margin: 0;
	width: $default-width;
	height: 100%;
	max-height: 100%;
	min-height: 100%;
	z-index: 998;
	line-height: 2em;
	overflow-x: hidden;
	.btn,
	#export-btn.btn,
	#generate-btn.btn {
		position: relative;
	}
}
.mobile-toggleable-menu.mobile-left {
	left: -105%;
	right: auto;
}
.mobile-toggleable-menu.mobile-right {
	right: -105%;
	left: auto;
}
.mobile-menu-toggle-button:checked ~ .mobmenu-toggle.mobile-right {
	left: 0;
	right: auto;
}
.mobile-menu-toggle-button:checked ~ .mobmenu-toggle.mobile-left {
	left: auto;
	right: 0;
}
.mobile-menu-toggle-button:checked + .mobile-toggleable-menu.mobile-left {
	width: $default-width !important;
	left: 0;
}
.mobile-menu-toggle-button:checked + .mobile-toggleable-menu.mobile-right {
	width: $default-width !important;
	right: 0;
}
.mobile-toggleable-menu {
	padding: 10px 0;
	text-indent: 10px;
	> li {
		padding: 5px 10px;
	}
	li,
	li > a,
	form,
	input,
	label {
		display: block;
		width: 100%;
	}
	li a {
		color: $highlight;
	}
	li > a {
		padding: 10px;
	}
	li > form,
	li > p {
		padding: 10px 15px;
	}
	.title {
		text-align: right;
		opacity: 0.5;
		text-transform: uppercase;
		font-size: 120%;
		padding: 5px 20px;
		margin: 10px 0;
		border-left: 10px solid lighten($bg, 10%);
		background-color: darken($bg, 5%);
	}
	.subtitle {
		font-weight: bold;
		opacity: 0.7;
		font-size: 110%;
		padding: 4px 10px 0;
		margin: 0;
		background-color: rgba(0, 0, 0, 0.2);
		border-top: 1px solid rgba(255, 255, 255, 0.3);
	}
	.active,
	.active:hover {
		color: white;
		background-color: $highlight;
		text-shadow: 0 1px 1px black;
	}
}
.mobile-menu-toggle-button:checked ~ .mobmenu-toggle {
	background-color: black;
	color: $highlight;
	-webkit-transform: rotate(-180deg);
}
.mobile-menu-toggle-button:checked ~ .mobmenu-toggle:hover {
	background-color: lighten($highlight, 10%);
	color: black;
	-webkit-transform: rotate(-180deg);
}
.mobile-toggleable-menu {
	box-shadow: 2px 2px 20px #444;
}
.mobile-menu-toggle-button:checked .menu-slide-container {
	-webkit-transition: all .25s ease-in-out;
	-moz-transition: all .25s ease-in-out;
	-ms-transition: all .25s ease-in-out;
	-o-transition: all .25s ease-in-out;
	transition: all .25s ease-in-out;
	margin-left: 200px;
	display: block;
	width: 100%;
	height: 100%;
}
