@import 'flipbtns';
@import 'btns';
@import 'animations';
@import 'shims';
@import 'typography';
@import 'code';
@import 'scrollbars';
@import 'global_mixins';
@import 'tables';

// Widgets
@import 'widgets/mobile-menu';
@import 'widgets/modal';
@import 'widgets/side-panel';
@import 'widgets/dtree';
@import 'widgets/diagram-maker';
@import 'widgets/nested-panels';
@import 'widgets/cards';

/* Typography */

.noselect {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select:none;
	user-select:none;
}
.clearfix {
	&:after {
		content:' ';
		display: block;
		clear: both;
	}
}
.lead {
	font-size: 120%;
}
.abs-fullwidth {
	position: absolute;
	width: 100%;
	margin-left: -50%;
	left: 50%;
}
.unstyled-list,
.unstyled-list li {
	padding: 0;
	margin: 0;
	list-style: none;
}
input,
textarea {
	border-radius: 4px;
	padding: 4px;
}
input[type="color"] {
	padding: 1px;
	min-width: 30px;
}

/* Buttons */

#global-loader {
	background-color: #444;
	color: #fff;
	font-family: 'Lato', Helvetica, sans-serif;
	text-align: center;
	width: 100%;
	font-size: 20px;
	height: 100%;
	min-height: 100vh;
	z-index: 99999;
	padding: 100px;
	position: fixed;
	top: 0;
	left: 0;
	.text.fade {
		-webkit-animation-timing-function: linear;
		-webkit-animation-iteration-count: infinite;
		-webkit-animation-name: fadeInOut;
		-webkit-animation-duration: 1s;
		-webkit-animation-direction: alternate;
		animation-timing-function: linear;
		animation-iteration-count: infinite;
		animation-name: fadeInOut;
		animation-duration: 1s;
		animation-direction: alternate;
	}
}

/* Media Queries */

@media handheld, screen and (max-width: 400px) {
	.subdued.credits,
	.subdued.credits.centered {
		position: static;
		margin: 0;
	}
	.btn {
		display: block;
		width: 99%;
		margin-left: auto;
		margin-right: auto;
	}
}

/* Layout */

.flexer {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}

/* Canvas UI */

#generate-btn,
#export-btn {
	&.btn,
	&.btn:active {
		position: absolute;
	}
}
#generate-btn {
	border-radius: 0 6px 0 0;
	left: 0;
}
#export-btn {
	border-radius: 6px 0 0 0;
	right: 0;
}
@media screen and (max-width: 800px) {
	body {
		font-size: 18px;
	}
	#generate-btn,
	#export-btn {
		border-radius: 0;
		width: 100%;
		padding: 10px;
	}
	#generate-btn {
		top: 0;
		bottom: auto;
	}
}
