/* Typography */

.subdued {
	font-size: 70%;
	opacity: 0.5;
	&.credits {
		position: fixed;
		bottom: 0;
	}
	&.credits.centered {
		width: 100%;
		left: 50%;
		margin-left: -50%;
	}
}
.noselect {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select:none;
	user-select:none;
}
.lead {
	font-size: 120%;
}
.abs-fullwidth {
	position: absolute;
	width: 100%;
	margin-left: -50%;
	left: 50%;
}
.unstyled-list,
.unstyled-list li {
	padding: 0;
	margin: 0;
	list-style: none;
}
input,
textarea {
	border-radius: 4px;
	padding: 4px;
}

/* Buttons */

.btn-basic {
	border:none;
	padding: 4px 8px;
	display: inline-block;
	border-radius: 4px;
	text-decoration: none;
	&:hover {
		cursor: pointer;
	}
	&.btn-plain {
		border-bottom: 2px solid #444;
		background-color: #444;
		color: white;
	}
	&.btn-plain:hover {
		background-color: #000;
		color: white;
	}
	&:active {
		position: relative;
		top: 1px;
	}
	&.toggle {
		-webkit-transition: all .1s ease-in-out;
		-moz-transition: all .1s ease-in-out;
		-ms-transition: all .1s ease-in-out;
		-o-transition: all .1s ease-in-out;
		transition: all .1s ease-in-out;
		position: relative;
		top: 0;
		background-color: #999;
		border-bottom: 8px solid #444;
	}
	&.toggle:hover {
		top: 4px;
		border-bottom-width: 4px;
	}
	&.toggle:active {
		top: 6px;
		box-shadow: inset 0 0 2px white;
		border-bottom-width: 2px;
	}
}

#global-loader {
	background-color: #444;
	color: #fff;
	font-family: 'Lato', Helvetica, sans-serif;
	text-align: center;
	width: 100%;
	font-size: 20px;
	height: 100%;
	min-height: 100vh;
	z-index: 99999;
	padding: 100px;
	position: fixed;
	top: 0;
	left: 0;
	.text.fade {
		-webkit-animation-timing-function: linear;
		-webkit-animation-iteration-count: infinite;
		-webkit-animation-name: fadeInOut;
		-webkit-animation-duration: 1s;
		-webkit-animation-direction: alternate;
		animation-timing-function: linear;
		animation-iteration-count: infinite;
		animation-name: fadeInOut;
		animation-duration: 1s;
		animation-direction: alternate;
	}
}

/* CSS3 Animations */

@-webkit-keyframes rotate {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(180deg);
		transform: rotate(180deg);
	}
}
@keyframes rotate {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(90deg);
		transform: rotate(90deg);
	}
}
@keyframes panBg {
	from {
		background-position: 0 0;
	}
	to {
		background-position: 50% 50%;
	}
}
@-webkit-keyframes panBg {
	from {
		background-position: 0 0;
	}
	to {
		background-position: 50% 50%;
	}
}
@keyframes fadeInOut {
	from {
		opacity: 0.2;
	}
	to {
		opacity: 1;
	}
}
@-webkit-keyframes fadeInOut {
	from {
		opacity: 0.2;
	}
	to {
		opacity: 1;
	}
}

/* Vendor stuff */

.dg.ac * {
	/* fix issue with dat.gui colorpicker */
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
}
.slabtexted .slabtext {
	display:-moz-inline-box;
	white-space:nowrap
}
.slabtextinactive .slabtext {
	display:inline;
	white-space:normal;
	font-size:1em !important;
	letter-spacing:inherit !important;
	word-spacing:inherit !important;
	*letter-spacing:0 !important;
	*word-spacing:0 !important;
}
.slabtextdone .slabtext {
	display:block;
	line-height:0.9;
}
.slabtextdone > span {
	margin:10px 0;
	padding:5px;
}

/* Media Queries */

@media handheld, screen and (max-width: 400px) {
	.subdued.credits,
	.subdued.credits.centered {
		position: static;
		margin: 0;
	}
}

/* Layout */

.flexer {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}

/* Components */

.mobmenu-toggle {
	background-color: orange;
	color: #fff;
	font-size: 32px;
	text-decoration: none;
	text-align: center;
	font-weight: bold;
	display: none;
}
.mobile-menu-toggle {
	left: -9999px;
	position: absolute;
	top: -9999px;
}
.mobile-toggleable-menu {
	background-color: #333;
	color: #fff;
	opacity: 0.98;
	display: block;
	width: 100%;
	padding: 0;
}
.mobile-toggleable-menu li {
	display: inline-block;
	padding: 0;
	margin: 0;
}
.mobile-toggleable-menu li > a {
	height: 100%;
	width: 100%;
	display: inline-block;
	border-bottom: 1px solid #444;
	text-decoration: none;
	color: #fff;
}
.mobile-toggleable-menu li > a:hover {
	background-color: #222;
	color: orange;
}
.mobile-toggleable-menu li > a:active {
	position: relative;
	top: 1px;
	background-color: #111;
}
.mobmenu-toggle:hover {
	background-color: darkOrange;
}
.mobmenu-toggle,
.mobile-menu-toggle-button,
.mobile-toggleable-menu {
	top: 0;
	position: fixed;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}
.mobmenu-toggle {
	left: 0;
	margin: 0;
	display: inline-block;
	width: 15%;
	z-index: 999;
	&:hover {
		cursor: pointer;
	}
	&.toggle-right {
		right: 0;
		left: auto;
	}
	&.toggle-left {
		left: 0;
		right: auto;
	}
	&.toggle-bottom {
		bottom: 0;
		top: auto;
	}
	&.toggle-top {
		bottom: auto;
		top: 0;
	}
}
.mobile-toggleable-menu {
	margin: 0;
	width: 85%;
	height: 100%;
	max-height: 100%;
	min-height: 100%;
	z-index: 998;
	line-height: 2em;
	overflow-x: hidden;
}
.mobile-toggleable-menu.mobile-left {
	left: -105%;
}
.mobile-toggleable-menu.mobile-right {
	right: -105%;
}
.mobile-menu-toggle-button:checked ~ .mobmenu-toggle.mobile-right {
	left: 0;
	right: auto;
}
.mobile-menu-toggle-button:checked ~ .mobmenu-toggle.mobile-left {
	left: auto;
	right: 0;
}
.mobile-menu-toggle-button:checked + .mobile-toggleable-menu.mobile-left {
	width: 85% !important;
	left: 0;
}
.mobile-menu-toggle-button:checked + .mobile-toggleable-menu.mobile-right {
	width: 85% !important;
	right: 0;
}
.mobile-toggleable-menu {
	padding: 10px 0;
	text-indent: 10px;
	li,
	li > a,
	form,
	input,
	label {
		display: block;
		width: 100%;
	}
	li a {
		color: orange;
	}
	li > a {
		padding: 10px;
	}
	li > a.active {
		background-color: orange;
		color: black;
	}
	li > form,
	li > p {
		padding: 10px 15px;
	}
}
.mobile-menu-toggle-button:checked ~ .mobmenu-toggle {
	background-color: #000;
	color: orange;
	-webkit-transform: rotate(-180deg);
}
.mobile-toggleable-menu {
	box-shadow: 2px 2px 20px #444;
}
.mobile-toggleable-menu .title {
	text-align: right;
	opacity: 0.5;
	text-transform: uppercase;
	font-size: 120%;
	padding: 5px 20px;
	margin: 10px 0;
	border-left: 10px solid #999;
	background-color: #222;
}
.mobile-toggleable-menu .subtitle {
	font-weight: bold;
	opacity: 0.7;
	font-size: 110%;
	padding: 4px 10px 0;
	margin: 0;
}

/* Canvas UI */

#generate-btn {
	border-radius: 0 6px 0 0;
	left: 0;
}
#export-btn {
	border-radius: 6px 0 0 0;
	right: 0;
}
@media screen and (max-width: 800px) {
	body {
		font-size: 18px;
	}
	#generate-btn,
	#export-btn {
		border-radius: 0;
		width: 100%;
		padding: 10px;
	}
	#generate-btn {
		top: 0;
		bottom: auto;
	}
}
