$panel-width: 30%;

.sidebar-panel {
    width: $panel-width;
    &.left {
        left: -$panel-width;
        &.open {
            left: 0;
        }
    }
    &.right {
        right: -$panel-width;
        &.open {
            right: 0;
        }
    }
}
.sidebar-panel,
.panel-main {
    overflow-y: scroll;
    -webkit-transition: all 0.6s ease-in-out;  /* Saf3.2+, Chrome */
    -moz-transition: all 0.6s ease-in-out;  /* FF4+ */
    -ms-transition: all 0.6s ease-in-out;  /* IE10? */
    -o-transition: all 0.6s ease-in-out;  /* Opera 10.5+ */
    transition: all 0.6s ease-in-out;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    height: 100%;
    padding: 2em;
    top: 0;
}
.panel-main {
    width: 100%;
    &.right {
        left: 0;
        right: auto;
    }
    &.left {
        left: auto;
        right: 0;
    }
}
.sidebar-panel.open ~ .panel-main {
    &.panel-shrink {
        $rotation: -15deg;
        box-shadow: 60px 60px 20px rgba(0,0,0,0.2);
        transform: perspective(1400px) scale(0.8) rotateY($rotation);
        -ms-transform: perspective(1400px) scale(0.8) rotateY($rotation);
        -o-transform: perspective(1400px) scale(0.8) rotateY($rotation);
        -moz-transform: perspective(1400px) scale(0.8) rotateY($rotation);
        -webkit-transform: perspective(1400px) scale(0.8) rotateY($rotation);
    }
    &.right {
        left: $panel-width;
        right: auto;
    }
    &.left {
        left: auto;
        right: $panel-width;
    }
}
@media handheld, screen and (max-width: 700px) {
    .sidebar-panel,
    .panel-main {
        position: static;
        width: 100%;
    }
}
