<div id="header-container">
    <header class="container">
        <nav role="navigation" class="nav">
            <div class="col-md-12">
                <ul class="menu list-inline">
                    <li>
                        <a href="#/" id="logo" title="Visit homepage">
                            <img src="img/logo.svg" alt="Logo">
                        </a>
                    </li>
                    <li>
                        <a href="#/products" title="Products">Products</a>
                    </li>
                    <li>
                        <a href="#/designer" title="Designer">ChemDesigner</a>
                    </li>
                    <li>
                        <a href="#/about" title="About">About</a>
                    </li>
                    <li>
                        <a href="#/careers" title="Careers">Careers</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
</div>
